{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <h1 class="mb-3">Nos posts</h1>

    {% if app.user %}
        <a href="{{ path('app_post_new') }}" class="btn btn-primary mb-3">Create new post</a>
    {% endif %}

    {% if posts is empty %}
        <p>Aucun post publié pour le moment.</p>
    {% else %}
        <div class="d-flex flex-column mb-3">
            {% for post in posts %}
                <article class="card p-3 mb-3">
                    <div class="card-body">
                        <h2>
                            <a href="{{ path('app_post_show', {'slug': post.slug}) }}">
                                {{ post.title }}
                            </a>
                        </h2>
                        <p class="text-muted">
                            Publié le {{ post.publishedAt ? post.publishedAt|date('d/m/Y') : '' }}
                            par <strong>{{ post.author }}</strong>
                        </p>
                        <p>{{ post.content|slice(0, 300) }}...</p>
                        <a href="{{ path('app_post_show', {'slug': post.slug}) }}" class="btn btn-primary">
                            Lire la suite <i class="bi bi-arrow-right ms-2"></i>
                        </a>
                    </div>
                </article>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
