{% extends 'base.html.twig' %}

{% block title %}Post index{% endblock %}

{% block body %}
    <h1>Post index</h1>

<table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Image</th> <th>Title</th>
                <th>Content</th>
                <th>PublishedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                
                <td>
                    {% if post.imageName %}
                        <img src="{{ vich_uploader_asset(post, 'imageFile') }}" 
                             alt="Image du post" 
                             style="width: 50px; height: 50px; object-fit: cover; border-radius: 4px;">
                    {% else %}
                        <span style="color: #ccc;">Aucune</span>
                    {% endif %}
                </td>

                <td>{{ post.title }}</td>
                <td>{{ post.content }}</td>
                <td>{{ post.publishedAt ? post.publishedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_post_show', {'slug': post.slug}) }}">show</a> <a href="{{ path('app_post_edit', {'id': post.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td> </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_post_new') }}">Create new</a>
{% endblock %}
