{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('app_post_index') }}">Posts</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
    </nav>

    <h1>{{ post.title }}</h1>
    <div class="mb-4">
        <p class="mb-1">
            <i class="bi bi-clock me-2"></i>
            Publié le {{ post.publishedAt ? post.publishedAt|date('d/m/Y à H:i') : '' }}
        </p>
        <p class="mb-1"><i class="bi bi-person me-2"></i>
            Publié par <strong>{{ post.author}}</strong>
        </p>
    </div>
    <p>{{ post.content }}</p>

    {% if app.user and (app.user == post.author or is_granted('ROLE_ADMIN')) %}
        <div class="mt-5 d-flex gap-2">
            <a class="btn btn-primary" href="{{ path('app_post_edit', {'id': post.id}) }}">
                <i class="bi bi-pencil me-2"></i>Edit
            </a>
            {{ include('post/_delete_form.html.twig') }}
        </div>
    {% endif %}

{% endblock %}
